:root{
    --background: rgb(5, 5, 5);
    --white: white;
    --text-gradient-bg:rgb(173, 61, 220);
    --text-gradient-1: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    --btn-bg: #4d9fbf; 

}