.tn-title{
    font-size: 45px;
    font-weight: 700;
    padding: 24px;
    margin-bottom: 36px ;
}

.tn-bg-blob{
    height: 550px;
    width: 550px;
    background-color: rgb(85, 12, 107);
    filter: blur(160.58px);
    position: absolute;
    z-index: -99;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%);
}